extends layout

block content
	<a class="btn" onclick= "return confirm('Are You Sure ?')" href="/table">Show Table</a>
	h1= "User Info"
	each val, index in rows	
		form(action= "/update/:id" method="POST" runat="server")
			p Username :
				input(type="text" name="username" value =val.username placeholder="")
			p First Name :
				input(type="text" name="first_name"  value=val.first_name placeholder="")
			p Last Name :
				input(type="text" name="last_name"  value=val.last_name placeholder="")
			p Age :
				input(type="number" name="age"  value=val.age placeholder="")
			p Father's Name :
				input(type="text" name="father_name"  value=val.father_name placeholder="")
			p Email :
				input(type="email" name="email"  value=val.email placeholder="")
			p Phone No. :
				input(type="tel" name="phone_no"  value=val.phone_no placeholder="")
			p Gender :
				input(type="text" name="gender"  value=val.gender placeholder="")
			p State :
				input(type="text" name="state" value=val.state placeholder="")
			p City :
				input(type="text" name="city" value=val.city placeholder="")
			input(class="btn" type="submit")